.well.feed-story

  %dl.dl-horizontal

    %dt Title
    %dd= link_to story.title, story.url

    %dt Author
    %dd= story.author

    %dt Published
    %dd= story.published

    %dt Summary
    %dd= sanitize story.summary

    %dt Content
    %dd= sanitize story.content
