%h1 Listing feeds

%table.table
  %tr
    %th Name
    %th URL
    %th
    %th
    %th

  - @feeds.each do |feed|
    %tr
      %td= feed.name
      %td= feed.url
      %td= link_to 'Show', feed
      %td= link_to 'Edit', edit_feed_path(feed)
      %td= link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Feed', new_user_feed_path(current_user)
