%p#notice= notice

%h2 Details

.well
  %dl.dl-horizontal
    %dt Name
    %dd= @feed.name
    %dt URL
    %dd= @feed.url

%h2 Stories
= render partial: "story", collection: decorated(@feed.stories, StoryDecorator)

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
