!!!
%html{"ng-app" => "digester"}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Atomic Digester'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Atomic Digester'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .col-md-6.col-md-offset-3{"ng-view" => true}= yield
